Build
Binaries
DerivedDataCache
Saved
Intermediate
cmake-build-debug
cmake-build-release
Plugins
Content/
build/
Docs/
.clangd/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
UE4.cbp

*.VC.db
*.VC.opendb
*.a
*.egg-info
*.kdev4
*.log
*.o
*.pb.cc
*.pb.h
*.pid
*.pri
*.pro
*.py[cod]
*.sln
*.so
*.stackdump
*.sublime-workspace
*.workspace
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
*.code-workspace
.codelite
.gdb_history
.gtest
.tags*
.vs
.vscode
.idea
__pycache__
_benchmarks_results
_images*
_out*
_site
core
profiler.csv
Makefile